#header {
    background: #9fc;
    font-family: sans-serif;
}

#header h1 {
    margin: 0;
    padding: 1em;
}

#header nav {
    background: #cfc;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header > nav > ul > li {
    display: inline-block;
}

#header li a {
    background: #cfc;
    color: inherit;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}

#header li a:hover {
    background: #9f9;
    display: inline-block;
    padding: 0.5em;
}

#header li ul {
    display: none;
    position: absolute;
    z-index: 1;
}

#header li:hover ul {
    display: block;
}

@media (prefers-color-scheme: dark) {
    #header {
        color: #fff;
        background: #063;
    }

    #header nav {
        background: #363;
    }

    #header li a {
        background: #363;
    }

    #header li a:hover {
        background: #060;
    }
}